<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Space Annotation</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>party.chee.space.annotation</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>party.chee.space</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>space</string>
			</array>
		</dict>
	</array>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict/>
			<key>NSReturnTypes</key>
			<array>
				<string>image</string>
			</array>
		</dict>
	</array>
	<key>OSAScriptingDefinition</key>
	<string>Terminology</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.html</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Space Annotation</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>party.chee.space.annotation</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>annotation</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/html</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
